<div *ngIf="display" class="container" [style.zIndex]="display ? 1 : -1" >
    <div class="card">
        <div class="card-content">
            <h3 class="title">Login</h3>
            <form *ngIf="loginForm" (ngSubmit)="onSubmit()" class="p-fluid grid p-4 pb-0 search-form"
                [formGroup]="loginForm">
        
                    <input class="input" type="text"   placeholder="Email" id="email" formControlName="email">
                    <small class="p-error block ">{{getFieldError("email")}}</small>
               

         
                    <input class="input" type="text"  placeholder="Senha" formControlName="password" id="password" type="password">
                    <small class="p-error block ">{{getFieldError("password")}}</small>
                    <small *ngIf="!credentialsValid" class="p-error block ">{{messageFeedback}}</small>
       
                <button mat-raised-button color="primary" type="submit" [disabled]="loading">
                    <span *ngIf="!loading">Entrar</span>
                   
                  </button>
                  <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
            </form>
        </div>
    </div>
</div>