<div class="container">
    <mat-accordion >
        <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Lista de Clientes
                </mat-panel-title>
            </mat-expansion-panel-header>
            <table *ngIf="!loadingTable" mat-table [dataSource]="clientList" class="mat-elevation-z8">
                
                <ng-container *ngFor="let tableCol of tableCols" [matColumnDef]="tableCol.field">
                  <th mat-header-cell *matHeaderCellDef>{{tableCol.label}}</th>
                  <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="tableCol.field === 'opcoes'">
                      <button mat-icon-button class="tableButtons">
                        <mat-icon  class="colorIconsTableButtons" (click)="goToEdit(element)">edit</mat-icon>
                      </button>
                      <button mat-icon-button class="tableButtons" (click)="dialogConfirmDeleteClient(element)">
                        <mat-icon  class="colorIconsTableButtons">delete</mat-icon>
                      </button>
                    </ng-container>
                    <ng-container *ngIf="tableCol.field !== 'opcoes'">
                      {{element[tableCol.field]}}
                    </ng-container>
                  </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>


              <mat-spinner *ngIf="loadingTable" color="primary" diameter="100"></mat-spinner>

        </mat-expansion-panel>
    </mat-accordion>
    <div style="display: flex; ">
        <div class="buttons">
            <button class="button is-info" (click)="goBack()">Voltar</button>
            <button class="button is-info" (click)="goToNew()">Cadastrar</button>
        </div>
    </div>
   
</div>

